In [3]:
def say_hello():
    print("Hello!")

In [5]:
#call the function
say_hello()

Hello!

In [6]:
#define the function "say_something" so it prints whatever is passed as the variable when called.
def say_something(Imgivinguponyou):
    print(Imgivinguponyou)

In [9]:
say_something("i'm giving up on you")

i'm giving up on you

In [10]:
Jane_says = "Hi, my name is jane. i'm learning python"
say_something(Jane_says)

Hi, my name is jane. i'm learning python

In [12]:
# A list of my grades.
my_grades = ['B', 'C', 'B', 'D']

In [13]:
#import pandas
import pandas as pd
#convert the my_grades to a series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [14]:
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [15]:
#using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [17]:
#convert the numerical grades to a series.

my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [18]:
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object